<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--dataExtractionRules is only used for android 12 and up, otherwise fullBackupContent will be used-->
    <application
        android:name="com.samco.trackandgraph.TrackAndGraphApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="${NETWORK_SECURITY_CONFIG}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${ALLOW_CLEAR_TEXT}"
        tools:targetApi="n"
        >

        <!--This provider declaration is to enable hilt work manager compatibility it is documented here:
            https://developer.android.com/guide/background/persistent/configuration/custom-configuration#remove-default
            although this seems to say something else but the above version works and this does not:
            https://developer.android.com/jetpack/androidx/releases/work#2.6.0-alpha01
            You can also see the hilt documentation here:
            https://developer.android.com/training/dependency-injection/hilt-jetpack#workmanager
            -->
        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove"
            />

        <!-- This is also for the benefit of the work manager. See here: https://developer.android.com/develop/background-work/background-tasks/persistent/how-to/long-running#foreground-service-type -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge"
            />

        <activity
            android:name="com.samco.trackandgraph.main.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:targetApi="tiramisu"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link for downloading and injecting Lua scripts -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lua_inject_url"
                    android:scheme="trackandgraph"
                    />

                <data
                    android:host="lua_inject_file"
                    android:scheme="trackandgraph"
                    />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"
                />

            <!-- Custom launcher action to run the app with Lua engine disabled -->
            <intent-filter>
                <action android:name="com.samco.trackandgraph.action.DISABLE_LUA_ENGINE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".widgets.TrackWidgetInputDataPointActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:taskAffinity="com.samco.trackandgraph.widgets.TrackWidgetInputDataPointActivity"
            android:theme="@style/TransparentTheme"
            />

        <activity
            android:name=".widgets.TrackWidgetConfigureActivity"
            android:exported="true"
            android:label="Configure widget"
            android:theme="@style/TransparentTheme"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reminders.androidplatform.ReminderBroadcastReceiver"
            android:exported="false"
            />

        <receiver
            android:name=".reminders.androidplatform.RecreateAlarmsBroadcastReceiver"
            android:enabled="${recreateAlarmsEnabled}"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <!-- New Glance-based widget receiver -->
        <receiver
            android:name="com.samco.trackandgraph.base.service.TrackWidgetProvider"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/track_widget_info"
                />
        </receiver>

        <service
            android:name=".timers.TimerNotificationService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            />
    </application>

</manifest>
