aiohttp==3.8.5
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==2.0.12
docopt==0.6.2
frozenlist==1.2.0
idna==3.4
idna-ssl==1.1.0
multidict==5.2.0
pipreqs==0.4.12
pkg-resources==0.0.0
requests==2.31.0
typing-extensions==4.1.1
urllib3==1.26.13
yarg==0.1.9
yarl==1.7.2
