<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--dataExtractionRules is only used for android 12 and up, otherwise fullBackupContent will be used-->
    <application
        android:name="com.samco.trackandgraph.TrackAndGraphApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--This provider declaration is to enable hilt work manager compatibility it is documented here:
            https://developer.android.com/guide/background/persistent/configuration/custom-configuration#remove-default
            although this seems to say something else but the above version works and this does not:
            https://developer.android.com/jetpack/androidx/releases/work#2.6.0-alpha01
            You can also see the hilt documentation here:
            https://developer.android.com/training/dependency-injection/hilt-jetpack#workmanager
            -->
        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <activity
            android:name="com.samco.trackandgraph.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".timers.AddDataPointFromTimerActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".widgets.TrackWidgetInputDataPointActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".widgets.TrackWidgetConfigureActivity"
            android:exported="true"
            android:label="Configure widget"
            android:theme="@style/TransparentTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
            </intent-filter>
        </activity>

        <receiver android:name=".base.service.AlarmReceiver" />
        <receiver
            android:name=".base.service.RecreateAlarms"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".base.service.TrackWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/track_widget_info" />
        </receiver>

        <!--TODO you'll need to follow this guide when you target android 14
            https://developer.android.com/about/versions/14/changes/fgs-types-required
        -->
        <service
            android:name=".base.service.TrackWidgetJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".base.service.TimerNotificationService"
            android:enabled="true" />
    </application>

</manifest>